Repository appetis/workly, pull requests merged in 2021-11, with the labels that each got.

#26 [AP-43] Research - Spinner
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/extension/src/App.vue
  packages/extension/src/assets/css/tailwind.css
  packages/extension/src/components/calendar/List.vue
  packages/extension/src/components/link/List.vue
  packages/extension/src/components/loading/Loading.vue
  packages/extension/src/components/setting/List.vue
  packages/extension/src/components/user/List.vue
  packages/extension/src/store/index.js
  packages/extension/src/views/Home.vue
Labels: ui

#27 [AP-74] update user status API
  packages/api/server/controllers/user.js
  packages/api/server/services/user.service.js
Labels: api

#28 [AP-75] fix seed data sequence error
  packages/api/server/seeders/0.1.0.1-user.js
  packages/api/server/seeders/0.1.0.2-verification.js
  packages/api/server/seeders/0.1.0.3-profile.js
  packages/api/server/seeders/0.1.0.4-team.js
Labels: db

#29 [AP-57] API - Image Upload (Avatar)
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/server/controllers/user.http
  packages/api/server/controllers/user.js
  packages/api/server/routes/middlewares.js
  packages/api/server/routes/user.js
  packages/api/server/services/s3.service.js
Labels: api

#30 [AP-64] Test - Unit test
  package-lock.json
  package.json
  packages/api/package-lock.json
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/extension/src/App.vue
  packages/extension/src/components/Header.vue
  packages/extension/src/components/HelloWorld.vue
  packages/extension/src/components/LeftMenu.vue
  packages/extension/src/components/calendar/List.vue
  packages/extension/src/components/init/Code.vue
  packages/extension/src/components/init/CodeInput.vue
  packages/extension/src/components/init/Init.vue
  packages/extension/src/components/init/Page.vue
  packages/extension/src/components/link/List.vue
  packages/extension/src/components/loading/Loading.vue
  packages/extension/src/components/setting/List.vue
  packages/extension/src/components/user/List.vue
  packages/extension/src/components/user/Profile.vue
  packages/extension/src/components/user/Signin.vue
  packages/extension/src/components/user/Signup.vue
  packages/extension/src/router/index.js
  packages/extension/src/router/routes.js
  packages/extension/src/services/UserService.js
  packages/extension/src/store/index.js
  packages/extension/tests/data.js
  packages/extension/tests/setup.js
  packages/extension/tests/unit/Header.spec.js
  packages/extension/tests/unit/LeftMenu.spec.js
  packages/extension/tests/unit/init/Code.spec.js
  packages/extension/tests/unit/init/Init.spec.js
  packages/extension/tests/unit/init/Page.spec.js
  packages/extension/tests/unit/init/__snapshots__/Code.spec.js.snap
  packages/extension/tests/unit/init/__snapshots__/Init.spec.js.snap
  packages/extension/tests/unit/user/List.spec.js
  packages/extension/tests/unit/user/Profile.spec.js
  packages/extension/tests/unit/user/Signin.spec.js
  packages/extension/tests/unit/user/Signup.spec.js
  packages/extension/tests/unit/user/Verification.spec.js
  packages/extension/tests/unit/user/__snapshots__/List.spec.js.snap
  packages/extension/tests/unit/user/__snapshots__/Profile.spec.js.snap
  packages/extension/tests/unit/user/__snapshots__/Signin.spec.js.snap
  packages/extension/tests/unit/user/__snapshots__/Signup.spec.js.snap
  packages/extension/tests/unit/user/__snapshots__/Verification.spec.js.snap
  yarn.lock
Labels: test

#31 [AP-78] Change header color
  package-lock.json
  packages/extension/src/assets/css/tailwind.css
  packages/extension/src/components/user/Avatar.vue
  packages/extension/src/components/user/List.vue
  packages/extension/src/components/user/Profile.vue
  packages/extension/tailwind.config.js
  packages/extension/tests/unit/user/__snapshots__/List.spec.js.snap
  yarn.lock
Labels: ui

#32 [AP-79] Change design of initial page
  packages/extension/src/assets/css/tailwind.css
  packages/extension/src/assets/images/w.png
  packages/extension/src/assets/images/workly.png
  packages/extension/src/assets/images/workly_screens.png
  packages/extension/src/components/init/Code.vue
  packages/extension/src/components/init/Header.vue
  packages/extension/src/components/init/Init.vue
  packages/extension/src/components/init/Left.vue
  packages/extension/src/components/init/Page.vue
  packages/extension/src/components/user/Signin.vue
  packages/extension/src/components/user/Signup.vue
  packages/extension/src/components/user/Verification.vue
  packages/extension/tests/unit/init/Header.spec.js
  packages/extension/tests/unit/init/Left.spec.js
  packages/extension/tests/unit/init/Page.spec.js
  packages/extension/tests/unit/init/__snapshots__/Code.spec.js.snap
  packages/extension/tests/unit/init/__snapshots__/Header.spec.js.snap
  packages/extension/tests/unit/init/__snapshots__/Left.spec.js.snap
  packages/extension/tests/unit/user/Signin.spec.js
  packages/extension/tests/unit/user/Signup.spec.js
  packages/extension/tests/unit/user/__snapshots__/Signin.spec.js.snap
  packages/extension/tests/unit/user/__snapshots__/Signup.spec.js.snap
Labels: ui

#33 [AP-80] update user verification API
  packages/api/server/controllers/user.js
  packages/api/server/services/user.service.js
Labels: api
