Repository appetis/workly, pull requests merged in 2021-06, with the labels that each got.

#4 [AP-9] add configurations for GitHub Actions and CodeDeploy
  .github/workflows/api.yml
  .github/workflows/app.yml
  packages/api/appspec.yml
  packages/api/deploy.sh
Labels: ci, env

#5 [AP-27] Project Setup instructions
  .gitignore
  README.md
  package.json
  packages/api/.env.example
  packages/api/bin/www
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/package-lock.json
Labels: documentation, env

#6 [AP-28] Front-end Layout
  .gitignore
  package.json
  packages/app/.eslintrc.js
  packages/app/.prettierrc.js
  packages/app/README.md
  packages/app/babel.config.js
  packages/app/jest.config.js
  packages/app/package-lock.json
  packages/app/package.json
  packages/app/postcss.config.js
  packages/app/src/App.vue
  packages/app/src/assets/images/avatar.png
  packages/app/src/components/Calendar.vue
  packages/app/src/components/Header.vue
  packages/app/src/components/HelloWorld.vue
  packages/app/src/components/LeftMenu.vue
  packages/app/src/css/tailwind.css
  packages/app/src/main.js
  packages/app/src/router/index.js
  packages/app/src/store/index.js
  packages/app/src/views/Home.vue
  packages/app/src/views/Link.vue
  packages/app/src/views/Setting.vue
  packages/app/src/views/User.vue
  packages/app/tailwind.config.js
  packages/app/tests/unit/Calendar.spec.js
  packages/app/tests/unit/Header.spec.js
  packages/app/tests/unit/LeftMenu.spec.js
Labels: ui

#7 [AP-31] API - User
  packages/api/.sequelizerc
  packages/api/app.js
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/server/controllers/auth.http
  packages/api/server/controllers/auth.js
  packages/api/server/controllers/index.js
  packages/api/server/controllers/users.http
  packages/api/server/controllers/users.js
  packages/api/server/migrations/20210514011020-create-user.js
  packages/api/server/models/index.js
  packages/api/server/models/user.js
  packages/api/server/routes/auth.js
  packages/api/server/routes/index.js
  packages/api/server/routes/middlewares.js
  packages/api/server/routes/user.js
  packages/api/server/routes/user.routes.js
Labels: api
